<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="<%= admin_admins_path %>"><%= t('activerecord.attributes.admin.other') %></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="<%= admin_itineraries_path %>"><%= t('activerecord.attributes.itinerary.itineraries') %></a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href=""><%= t('activerecord.attributes.user.other') %></a>
  </li>
</ul>