<div class="card mt-5" style="width: 100%">
  <div class="card-body">
    <h2 class="card-title text-center mb-5"><%= t('activerecord.attributes.admin.editing') %></h2>
    <div class="card-text mb-5">

      <div class="row mt-2">
        <div class="col">
          <strong><%= t('activerecord.attributes.admin.first_name') %>:</strong>
          <%= @admin.first_name %>
        </div>
        <div class="col">
          <strong><%= t('activerecord.attributes.admin.last_name') %>:</strong>
          <%= @admin.last_name %>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col">
          <strong><%= t('activerecord.attributes.admin.age') %>:</strong>
          <%= @admin.age %>
        </div>
        <div class="col">
          <strong><%= t('activerecord.attributes.admin.city') %>:</strong>
          <%= @admin.city %>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col">
          <strong><%= t('activerecord.attributes.admin.address') %>:</strong>
          <%= @admin.address %>
        </div>
        <div class="col">
          <strong><%= t('activerecord.attributes.admin.email') %>:</strong>
          <%= @admin.email %>
        </div>
      </div>

    </div>
    <div class="text-center" >
      <%= link_to t('action.edit'), edit_admin_admin_path(@admin), class: 'btn btn-blue mr-1 card-link' %>
      <%= link_to t('action.back'), admin_admins_path, class: 'btn btn-secondary card-link' %>
    </div>
  </div>
</div>