<footer class="footer text-center mt-5">
  <div class="row m-0">
    <% if !current_admin %>
    <div class="col col-sm col-md col-lg col-xl mt-5">
      <p class="name-page"> <%= t('name') %> </p>
    </div>
    <% end %>
    <div class="col col-sm col-md col-lg col-xl mt-5">
      <p><%= t('created_by') %></p>
    </div>
    <% if !current_admin %>
    <div class="col col-sm col-md col-lg col-xl">
      <ul class="footer-list">
        <li><%= link_to 'Itinerarios', "#{root_path}#itinerary", class: 'nav-link footer-link' %></li>
        <li><%= link_to 'Contáctenos', "#{root_path}#contactUs-title", class: 'nav-link footer-link' %></li>
        <li><%= link_to 'Iniciar sesión', new_user_session_path, class: 'nav-link footer-link' %></li>
      </ul>
    </div>
    <% end %>
  </div>
</footer>