<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin: 0 !important; height: 100px;">
  <!--<a class="navbar-brand" href="#" style="font-family: 'Bungee Inline'; font-size: 35px;">
    <%= t('name') %>
  </a>-->
  <%= link_to image_tag("Logo.png", alt: "Viaggiatori"), root_path, style: "font-family: 'Bungee Inline'; font-size: 35px;" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuViaggiatori"
    aria-controls="menuViaggiatori" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="menuViaggiatori">
    <% if current_admin %>
    <%= render 'layouts/application/admins/menu' %>
    <% else %>
    <%= render 'layouts/application/users/menu' %>
    <% end %>
    <div class="my-2 my-lg-0">
      <% if current_user.blank? && current_admin.blank? %>
      <%= link_to t('action.log_in'), new_user_session_path, class: 'nav-link' %>
      <% elsif !current_user.blank? %>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Hola <%= current_user.first_name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to 'Mi perfil', user_registration_path(current_user), class: 'dropdown-item' %>
            <a class="dropdown-item" href="#">Mis viajes</a>
            <%= link_to t('action.log_out'), destroy_user_session_path, class: 'dropdown-item', method: :delete %>
          </div>
        </li>
      </ul>
      <% else %>
      <%= link_to t('action.log_out'), destroy_admin_session_path, class: 'nav-link', method: :delete %>
      <% end %>
    </div>

  </div>
</nav>