<!DOCTYPE html>
<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <title><%= t('name') %></title>
    <meta name="description" content="<%= t('our_description') %>">
    <meta property="og:title" content="Viaggiatori" />
    <meta property="og:description" content="<%= t('our_description') %>" />
    <meta property="og:url" content="<%= root_url %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/application/header' %>
    <% if notice %>
      <div class="alert alert-primary m-2 alert-dismissible fade show" >
        <p id="notice"><%= notice %></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger m-2 alert-dismissible fade show" >
        <p id="alert"><%= alert %></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield :hero %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/application/footer' %>
  </body>
</html>
